@charset "UTF-8";
/* vars */
/* peh-js sets this more precisely */
/* reset */
body, html, div, img, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, th, td, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

h1, h2, h3 {
  border-radius: 4px; }

/* typography */
body {
  font-family: calibri,Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 115%;
  color: #333;
  margin: 0 6px;
  line-height: 1.2; }

p {
  margin-bottom: .5em; }

h1, h2, h3, h4, h5 {
  margin-bottom: .3em;
  line-height: 1; }

h1, h2, h3 {
  color: #817752; }

h1 {
  margin-top: 2em;
  font-size: 1.5em; }

/*article > h1:first-child {
    margin-top: 0;
}*/
h2 {
  margin-bottom: 1em;
  font-size: 1.3em; }

p + h2 {
  margin-top: 1.5em; }

h3 {
  margin-top: 1.5em;
  margin-bottom: .3em; }

h4 {
  margin-top: 1em;
  _color: #666; }

a:link, a:visited, a:hover, a:focus {
  color: #817752; }

/* layout */
html {
  overflow-y: scroll;
  /* avoid layout shift on windows */ }

.center {
  max-width: 960px;
  /* center the article */
  margin: 0 auto; }

article {
  max-width: 960px;
  /* center the article */
  margin: 0 auto;
  min-height: 300px; }
  article li {
    margin: .5em 1.5em; }
    article li p {
      display: block;
      _outline: solid 1px orange; }

footer {
  padding: 1em 4px;
  /* 1em vertically, 4px to avoid Text touching right border */
  text-align: right;
  color: #9f9367; }

#headercontent {
  max-width: 960px;
  /* center the article */
  margin: 0 auto;
  display: flex; }

#abovemenu {
  text-align: right;
  vertical-align: top; }

#menucontainer {
  padding-top: 2.7em;
  flex: auto; }

#clogo {
  padding: 1em 1em 1em 0; }

#languages a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: 3px;
  padding: 1px 3px;
  border-bottom: solid 3px transparent; }

#languages .selected {
  border-color: #9f9367;
  pointer-events: none;
  cursor: default; }

nav ul li {
  display: inline-block; }

nav ul li a {
  display: block;
  text-decoration: none;
  padding: .3em .4em;
  /* basic deco */
  font-weight: bold;
  border-right: solid 1px #9f9367; }

nav > ul > li > a {
  text-transform: uppercase; }

/*#mhome {
    _padding-left: 0;
    position:relative;
    left: -.9em;
}*/
/*nav ul li ul {
    display:none;
}*/
nav ul li ul li {
  padding-left: .7em;
  margin-top: .3em; }

nav ul li ul li a {
  padding: .2em .4em;
  /* sub menu deco */
  font-weight: normal;
  border-right: none;
  border-radius: 3px; }

nav ul li ul {
  /* sub menu */
  position: absolute;
  visibility: hidden; }

/* normal menu functionality. but here we do not preview */
/*nav li:hover ul {
    visibility: visible;
    background:white;
    z-index:1000;
    width:1000px;
}*/
nav ul li:hover {
  /* hovering effect menus */
  background-color: rgba(159, 147, 103, 0.15);
  _color: white; }

nav {
  /*a:hover {
        color: white !important;
    }*/
  /* avoid resizing when making bold: add pseudo element with bold text, so size is always arranged for bold */ }
  nav > ul {
    border-top: solid 1px #9f9367; }
  nav .sub > ul > li {
    display: table-cell;
    /* only table-cell makes sub-menu horizontal. (display=inline does not suffice (?)) */ }
  nav a.selected {
    color: white !important; }
  nav a {
    letter-spacing: 1px; }
  nav a {
    /*text-transform: uppercase;*/
    /*margin: 2em 0;*/
    padding: .1em; }
  nav a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px; }

#top {
  display: none; }

#logo {
  height: 120px; }

#mhome {
  border-left: none; }

body.home #mhome,
body.partner #mpartner,
body.presse #mpresse,
body.unternehmen #munternehmen,
body.forschung #mforschung,
body.news #mnews {
  background-color: #9f9367;
  outline: solid 1px #9f9367; }
  body.home #mhome > a,
  body.partner #mpartner > a,
  body.presse #mpresse > a,
  body.unternehmen #munternehmen > a,
  body.forschung #mforschung > a,
  body.news #mnews > a {
    color: white; }

body.forschung #submarea,
body.area #submarea,
body.unternehmen #subunternehmen {
  visibility: visible; }

.st0 {
  fill: #9f9367; }

@-webkit-keyframes showsometime {
  0%, 100% {
    opacity: 1; } }

@-webkit-keyframes hidesometime {
  0%, 100% {
    opacity: 0; } }

#fuchsi {
  cursor: pointer;
  margin-bottom: 3em; }

.fuchszwink {
  opacity: 0;
  fill: red; }

.fuchsauge {
  opacity: 1; }

#fuchsi:hover .fuchszwink {
  animation: .3s linear 0s showsometime; }

#fuchsi:hover .fuchsauge {
  animation: .3s linear 0s hidesometime; }

body.home article {
  text-align: center;
  /* center foxy and the handdrawn areas */ }

body.home #areagroup {
  _margin-top: 1em; }

body.home #areagroup a {
  text-decoration: none; }

body.home h3 {
  max-width: 340px;
  margin: auto;
  padding: 4px;
  transition: .2s;
  text-decoration: underline;
  font-weight: normal; }

body.home #Ebene_1 {
  transition: .1s;
  _height: 400px;
  _width: 100%;
  min-height: 240px; }

body.home .area-1, body.home .area-2, body.home .area-3 {
  width: 33%;
  display: inline-block; }
  body.home .area-1:hover #Ebene_1, body.home .area-2:hover #Ebene_1, body.home .area-3:hover #Ebene_1 {
    transform: scale(0.99); }

body.home .area-1:hover {
  background-color: #e9f1e0; }
  body.home .area-1:hover h3 {
    background-color: #6d9141;
    color: white; }

body.home .area-2:hover {
  background-color: #fcfafa; }
  body.home .area-2:hover h3 {
    background-color: #a84f56;
    color: white; }

body.home .area-3:hover {
  background-color: #eaf3f7; }
  body.home .area-3:hover h3 {
    background-color: #3e82a4;
    color: white; }

figure {
  vertical-align: top; }

article {
  padding-bottom: 7em; }

.inlineblock {
  _outline: solid 1px navy;
  display: inline-block;
  vertical-align: top;
  margin: 1em 0em 1em 1em; }

#imgtfz {
  float: right;
  margin: 2em 0 2em 2em;
  /* img and text should have some space */ }

table {
  border-collapse: collapse; }
  table td, table th {
    padding: 0 1em 0 0;
    text-align: left; }
  table th {
    border-bottom: 0px solid #444; }

.mitarbeiter {
  padding: 1em 1em 1em 0;
  display: inline-block;
  min-width: 48%;
  max-width: 50%;
  min-height: 120px;
  vertical-align: bottom;
  clear: both; }
  .mitarbeiter .imgbox {
    display: inline-block; }
  .mitarbeiter .card {
    display: inline-block;
    margin-left: .5em; }
  .mitarbeiter img {
    display: inline-block;
    vertical-align: bottom; }
  .mitarbeiter .name {
    font-weight: bold; }

section.standort p {
  _max-width: initial; }

section.standort .adress {
  line-height: 1; }

section.standort thead {
  display: none; }

.story {
  max-width: 560px; }
  .story li {
    list-style: disc; }

body.forschung article li {
  list-style: disc; }

body.forschung .area-1 p, body.forschung .area-1 h2 {
  color: #6d9141; }

body.forschung .area-2 p, body.forschung .area-2 h2 {
  color: #a84f56; }

body.forschung .area-3 p, body.forschung .area-3 h2 {
  color: #3e82a4; }

body.forschung .area-1 h2, body.forschung .area-2 h2, body.forschung .area-3 h2 {
  margin-top: 0; }

body.forschung h1 {
  margin-bottom: .5em; }

body.forschung h2 {
  font-size: 1.3em;
  margin-bottom: .5em;
  font-weight: 500; }

body.forschung h3 {
  font-size: 1.0em;
  font-style: italic;
  margin-bottom: .5em; }

#bildleiste {
  margin-top: 2em;
  cursor: pointer; }
  #bildleiste a.arealink {
    display: inline-block;
    vertical-align: top;
    max-width: 316px;
    min-width: 200px;
    margin-bottom: 1.5em;
    text-decoration: none; }
  #bildleiste h2 {
    margin-top: .5em; }
  #bildleiste img {
    width: 100%;
    max-width: 312px;
    max-height: 312px; }
    #bildleiste img:hover {
      _outline: solid 1px #aaa;
      opacity: .9; }
  #bildleiste h2 {
    text-decoration: underline; }
  #bildleiste a.arealink:hover h2 {
    text-decoration: none;
    color: white; }
  #bildleiste a.area-1:hover h2 {
    background-color: #6d9141; }
  #bildleiste a.area-2:hover h2 {
    background-color: #a84f56; }
  #bildleiste a.area-3:hover h2 {
    background-color: #3e82a4; }

body.area #textframe {
  background-color: white;
  opacity: 0.95;
  width: 520px;
  margin-left: 280px;
  padding: 1.5em;
  min-height: 500px; }
  body.area #textframe h1 {
    margin-top: 0; }

body.area .mitarbeiter {
  min-width: initial;
  max-width: initial; }

body.area-1 #smarea1 {
  background-color: #6d9141;
  color: white;
  font-weight: bold; }

body.area-2 #smarea2 {
  background-color: #a84f56;
  color: white;
  font-weight: bold; }

body.area-3 #smarea3 {
  background-color: #3e82a4;
  color: white;
  font-weight: bold; }

body.area article {
  position: relative; }

body.area .bg {
  position: absolute;
  top: 0;
  height: 860px;
  width: 960px;
  background-repeat: no-repeat;
  transition: opacity 2s; }

body.area .muted {
  opacity: 0; }

#bg-1[data-area="1"] {
  background-image: url(../images/area-1/area-1-1.jpg); }

#bg-1[data-area="2"] {
  background-image: url(../images/area-2/area-2-1.jpg); }

#bg-1[data-area="3"] {
  background-image: url(../images/area-3/area-3-1.jpg); }

body.area-1 h1 {
  color: #6d9141; }

.area-2 h1 {
  color: #a84f56; }

.area-3 h1 {
  color: #3e82a4; }

body.area-1 header, body.area-2 header, body.area-3 header {
  margin-bottom: 2em; }

body.area-1 #textframe {
  _background-color: rgba(109, 145, 65, 0.07); }

.area-2 #textframe {
  _background-color: rgba(168, 79, 86, 0.07); }

.area-2 h1 {
  color: #a84f56; }

.area-3 #textframe {
  _background-color: rgba(62, 130, 164, 0.07); }

.area-3 h1 {
  color: #3e82a4; }

#areamini {
  display: none; }

body.presse article,
body.partner article {
  margin-bottom: 2em; }
  body.presse article li.partnerentry,
  body.partner article li.partnerentry {
    display: inline-block;
    margin: 0 0 2em 1em; }
    body.presse article li.partnerentry > div,
    body.partner article li.partnerentry > div {
      display: inline-block;
      vertical-align: bottom;
      color: #666; }
  body.presse article .left, body.presse article .right,
  body.partner article .left,
  body.partner article .right {
    vertical-align: middle;
    padding: .5em; }
  body.presse article .left,
  body.partner article .left {
    text-align: center; }
  body.presse article .right,
  body.partner article .right {
    width: 240px;
    line-height: 1;
    padding-right: 2em; }
  body.presse article .title,
  body.partner article .title {
    font-weight: bold;
    vertical-align: bottom; }
  body.presse article img,
  body.partner article img {
    _outline: solid 1px orange;
    vertical-align: bottom; }

body.presse .mitarbeiter,
body.partner .mitarbeiter {
  max-width: initial; }

body.presse .comet,
body.partner .comet {
  margin-top: 1.5em;
  margin-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top; }
  body.presse .comet img#cometlogo,
  body.partner .comet img#cometlogo {
    margin-right: 6em;
    margin-bottom: 2em;
    width: 300px;
    height: 148px; }
  body.presse .comet .comettext,
  body.partner .comet .comettext {
    _min-width: 200px;
    max-width: 350px; }

body.presse .fördergeber,
body.partner .fördergeber {
  display: inline-block;
  vertical-align: top; }

body.presse .partnerliste,
body.partner .partnerliste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

body.presse figure,
body.partner figure {
  display: inline-block; }

body.presse .mitarbeiter {
  margin-left: 2em;
  display: block; }
  body.presse .mitarbeiter .card {
    max-width: 300px; }

body.presse .arealogo {
  margin-left: 2em; }

body.presse .pressitem {
  padding: 0 2em; }
  body.presse .pressitem a {
    text-decoration: none; }
  body.presse .pressitem span {
    text-decoration: underline;
    vertical-align: bottom;
    display: inline-block;
    padding: 1em;
    word-break: break-word;
    max-width: 300px; }
  body.presse .pressitem:hover img {
    opacity: .8; }
  body.presse .pressitem:hover span {
    color: #333; }

body.presse article li.partnerentry {
  display: block;
  margin-left: 6em; }
  body.presse article li.partnerentry img:hover {
    opacity: .8; }

body.presse img.press-logo-ffoqsi {
  height: 120px; }

body.news figure img {
  width: 120px;
  height: 80px; }

body.news figure {
  display: none; }

body.news .figure1 {
  display: inline-block; }

body.news .figure2 {
  display: inline-block; }

body.news .figure3 {
  display: inline-block; }

body.news .figure4 {
  display: inline-block; }

body.news .figure5 {
  display: inline-block; }

body.news .figure6 {
  display: inline-block; }

body.news .figure7 {
  display: inline-block; }

body.news .figure8 {
  display: inline-block; }

body.news .figure9 {
  display: inline-block; }

body.news .figure10 {
  display: inline-block; }

body.news .figure11 {
  display: inline-block; }

body.news .figure12 {
  display: inline-block; }

body.news .figure13 {
  display: inline-block; }

body.news .figure14 {
  display: inline-block; }

body.news .figure15 {
  display: inline-block; }

body.news .figure16 {
  display: inline-block; }

body.news .figure17 {
  display: inline-block; }

body.news .figure18 {
  display: inline-block; }

body.news .figure19 {
  display: inline-block; }

body.news .figure20 {
  display: inline-block; }

body.news .figure21 {
  display: inline-block; }

body.news .figure22 {
  display: inline-block; }

body.news .figure23 {
  display: inline-block; }

body.news .figure24 {
  display: inline-block; }

body.news .figure25 {
  display: inline-block; }

body.news .figure26 {
  display: inline-block; }

body.news .figure27 {
  display: inline-block; }

body.news .figure28 {
  display: inline-block; }

@media (max-width: 900px) {
  body {
    aaaa: "mobilo";
    padding: 0;
    margin: 4px; }
  /*p {
        max-width: 400px;
    }*/
  article, #headercontent {
    max-width: initial;
    /* center the article */
    margin: 0 auto; }
  article > h1:first-child {
    margin-top: 0; }
  #menucontainer {
    padding-top: 0; }
  #team, #standort {
    display: initial;
    position: initial;
    top: initial;
    /* progressive enhancement: set this value by js */ }
  #clogo {
    display: none;
    /* hide logo on small screens*/ }
  nav ul li ul {
    /* sub menu */
    position: inherit;
    visibility: inherit;
    background-color: white;
    outline: none; }
  nav ul li a {
    border: none; }
  nav ul li {
    display: block; }
  body.home #mhome,
  body.partner #mpartner,
  body.presse #mpresse,
  body.unternehmen #munternehmen,
  body.forschung #mforschung {
    outline: none; }
  #top {
    text-align: right;
    display: block;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    _background-color: orchid;
    opacity: .9;
    z-index: 7;
    margin: 0 -4px;
    padding: 20px 10px;
    cursor: pointer;
    outline: none; }
    #top svg {
      vertical-align: middle;
      _outline: solid 1px orange;
      padding: 4px 6px;
      background-color: #eee;
      border-radius: 4px; }
  .hamburger {
    fill: #817752; }
  body.area #textframe {
    width: 100%;
    margin: auto;
    opacity: 1; }
  body.area-1 article, body.area-2 article, body.area-3 article {
    background: none;
    max-width: initial;
    min-height: initial;
    margin: initial; }
  body.area #textframe {
    padding: initial; }
  #slideshow {
    height: 67vw;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
    margin: 0 -4px;
    margin-bottom: 1em; }
  .bg {
    display: block;
    position: static;
    height: 67vw;
    background-size: 100vw 67vw;
    background-repeat: no-repeat;
    _background-clip: padding-box; }
  header {
    position: inherit; }
  body {
    _background-color: beige; }
  #imgtfz {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 320px; }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 360px; }
    table td, table th {
      padding: 0;
      text-align: left; }
    table td:nth-child(2) {
      text-align: right; }
    table th {
      border-bottom: 0px solid #444; }
  .mitarbeiter {
    max-width: calc(100vw - 8px);
    min-width: initial;
    display: block;
    margin-left: 1em; }
    .mitarbeiter .imgbox, .mitarbeiter .card {
      display: block;
      margin: 2px; }
  body.presse .mitarbeiter {
    display: block;
    vertical-align: top;
    min-width: initial;
    max-width: calc(100vw - 8px);
    min-height: initial;
    margin-left: 0; }
    body.presse .mitarbeiter .imgbox {
      display: table-cell; }
    body.presse .mitarbeiter .card {
      margin-left: 4px;
      display: table-cell;
      vertical-align: bottom;
      padding-left: .5em; } }

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  margin: initial;
  top: 44px;
  height: calc(100% - 44px);
  width: 30%;
  opacity: .3;
  _outline: solid 1px orange; }

.pswp__button--arrow--left:hover:before,
.pswp__button--arrow--right:hover:before {
  _background-color: orange;
  outline: solid 2px white;
  opacity: 1; }

body {
  _background-color: cadetblue; }

/*.area-1{
    background-color: lightgreen;
}*/

